.form {
  padding: 2rem;
}

.formHeader,
.formContent,
.formFooter {
  width: 100%;
}

.formHeader {
  margin-block-end: 1rem;
}

.formFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerTitle {
  margin-block-end: 0.5rem;
  color: var(--primary-marine-blue);
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
}

.headerDescription {
  color: var(--neutral-cool-gray);
}
