.containter {
  margin-block: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.switch {
  background-color: var(--primary-marine-blue);
  width: 3rem;
  height: auto;
  padding: 0.25rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  position: relative;

  &:has(.input:last-of-type:checked) .slider {
    left: calc(100% - var(--size) - var(--margin));
  }
}

.label {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-bold);
  color: var(--neutral-cool-gray);

  &.active {
    color: var(--primary-marine-blue);
  }
}

.input {
  appearance: none;
  width: 100%;
  height: 100%;
}

.slider {
  --size: 1rem;
  --margin: 0.25rem;
  position: absolute;
  left: var(--margin);
  border-radius: 1rem;
  width: var(--size);
  height: var(--size);
  background-color: var(--neutral-alabaster);
  display: inline-block;
  align-self: center;
  transition: left 0.3s ease-in-out;
}
